@model IEnumerable<MVCDynamicForms.Site>

@{
    ViewBag.Title = "Index";
}
@section MainContent { 
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            SiteName
        </th>
        <th>
            CreatedOn
        </th>
        <th>
            CreatedBy
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SiteName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedOn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedBy)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ContentId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ContentId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ContentId })
        </td>
    </tr>
}

</table>
}